/*Index*/
.container-fluid {
  padding: 0;
  margin: 0;
  background-color: #191716; }
  .container-fluid .row {
    padding: 0;
    margin: 0; }
  .container-fluid .col-12, .container-fluid .col-6 {
    padding: 0;
    margin: 0; }
  .container-fluid p {
    color: #191716;
    font-family: "Noto Sans", sans-serif;
    font-size: 2.2vh; }
  .container-fluid header {
    background-color: #191716;
    border-bottom: solid 1px #D2D4C8; }
    .container-fluid header .col-12 {
      padding: 20px 0%; }
    .container-fluid header h1 {
      text-align: center;
      width: 100%;
      color: #FFB400;
      font-family: "Monoton", cursive;
      word-spacing: 5px; }
  .container-fluid article form {
    padding: 3vh 0;
    display: block;
    float: right;
    margin-right: 30vw;
    width: 40%; }
    .container-fluid article form input {
      margin: 3vh auto;
      width: 50%;
      border-radius: 5px;
      color: grey; }
    .container-fluid article form button {
      margin: 3vh 2vw;
      background-color: #E0E2DB;
      border-radius: 12px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width: 35%; }
  .container-fluid main .row {
    width: 60%;
    margin: 5vh auto 0 auto;
    background-color: #D2D4C8;
    box-shadow: inset 0 0 10px #000000;
    padding: 0%; }
  .container-fluid main a {
    margin: auto;
    float: right;
    width: 100%;
    text-align: center;
    padding: 7vh 0 0 0;
    font-size: 3vh;
    color: #CCA43B; }
  .container-fluid main a:hover {
    color: #7f7f7f;
    text-decoration: none; }
  .container-fluid main #firstCol {
    width: 100%; }
    .container-fluid main #firstCol img {
      width: 15vw;
      margin: 4vh 4vw 7vh 0;
      display: block;
      float: right; }
  .container-fluid main #secondCol {
    width: 70%;
    float: left;
    margin-top: 4vh; }
    .container-fluid main #secondCol p {
      text-align: justify; }

/*Movie Page*/
.container-fluid1 {
  padding: 0;
  margin: 0;
  background-color: #191716;
  height: 100vh; }
  .container-fluid1 .row {
    padding: 0;
    margin: 0; }
  .container-fluid1 .col-12, .container-fluid1 .col-6 {
    padding: 0;
    margin: 0; }
  .container-fluid1 p {
    color: #191716;
    font-family: "Noto Sans", sans-serif;
    font-size: 2.2vh; }
  .container-fluid1 header {
    background-color: 4E4B5C;
    border-bottom: solid 1px #D2D4C8; }
    .container-fluid1 header .col-12 {
      padding: 20px 0%; }
    .container-fluid1 header h1 {
      text-align: center;
      width: 100%;
      color: #FFB400;
      font-family: "Monoton", cursive;
      word-spacing: 5px; }
  .container-fluid1 main #moviePage {
    width: 70%;
    margin: 3vh auto 0 auto;
    background-color: #D2D4C8;
    box-shadow: inset 0 0 10px #000000; }
    .container-fluid1 main #moviePage h2 {
      font-size: 4vh;
      text-align: center;
      padding: 5vh 0; }
    .container-fluid1 main #moviePage img {
      width: 18vw;
      margin: 3vh 2vw 4vh 7vw;
      display: block; }
    .container-fluid1 main #moviePage .contentDisplay {
      margin: 2vh 2vw 4vh 0;
      text-align: justify;
      width: 80%; }
      .container-fluid1 main #moviePage .contentDisplay p {
        font-size: 2.2vh; }
    .container-fluid1 main #moviePage a {
      display: block;
      margin: 1vh auto;
      font-size: 3vh;
      color: #CCA43B; }

/*Search Page*/
main #moviePage1 {
  height: 67vh; }
  main #moviePage1 h2 {
    margin-top: 2vh;
    text-align: center; }
  main #moviePage1 a {
    padding-bottom: 3vh; }

main #moviePage2 {
  background-color: #191716; }
  main #moviePage2 p {
    font-size: 2vh; }
    main #moviePage2 p:last-child {
      padding-bottom: 5vh; }
  main #moviePage2 .row {
    width: 60%;
    margin: 5vh auto 0 auto;
    background-color: #D2D4C8;
    box-shadow: inset 0 0 10px #000000;
    margin-bottom: 0; }
  main #moviePage2 a {
    margin: auto;
    float: right;
    width: 100%;
    text-align: center;
    padding: 7vh 0 0 0;
    font-size: 3vh;
    color: #CCA43B; }
  main #moviePage2 a:hover {
    color: #7f7f7f;
    text-decoration: none; }
